html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
  min-height: 1000px;
  font-family: 'helvetica neue';
}

h1 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color: #A683E3;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #A683E3;
}

.listcheckbox {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form.item {
  text-align: center;
}

.listaddbutton {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #A683E3;
  color: #fff;
  font-size: 20px;
  padding-bottom: 6px;
  border-width: 0;
}
.submitButton {
  min-height: 50px;
  width: 50px;
  border-color: transparent;
  background-color: #A683E3;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

.listinput {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}
 .normal {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
  display: block;
  clear: both;
  outline: none;
  box-shadow: inset 0 -3px 0 0 #A683E3;
}
input[type="text"]:focus ,input[type="password"]:focus{
  outline: none;
  box-shadow: inset 0 -3px 0 0 #A683E3;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

form {
  border: 3px solid #f1f1f1;
}

label {
  margin-left: 10px;
}

input[type=text],
input[type=password],
input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #a683e3;
  color: white;
  padding: 14px 20px;
  margin: 8px;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
      display: block;
      float: none;
  }

  .cancelbtn {
      width: 100%;
  }
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd;
  /* Add a border to all links */
  margin-top: -1px;
  /* Prevent double borders */
  background-color: #f6f6f6;
  /* Grey background color */
  padding: 12px;
  /* Add some padding */
  text-decoration: none;
  /* Remove default text underline */
  font-size: 18px;
  /* Increase the font-size */
  color: black;
  /* Add a black text color */
  display: block;
  /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
  /* Add a hover effect to all links, except for headers */
}

.box {
  margin-bottom: 20px;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 400px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #a683e3;
  color: white;
}

.sidebar a.manage {
  margin-top: 10px;
  background-color: green;
  color: white;
  bottom: 0;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
      width: 100%;
      height: auto;
      position: relative;
  }

  .sidebar a {
      float: left;
  }

  div.content {
      margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
      text-align: center;
      float: none;
  }
}

.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 4px !important;
  font-size: 12px !important;
  cursor: pointer !important;
  text-decoration: none !important;

  display: inline-block !important;
}

/* Green */
.success {
  border-color: #4CAF50 !important;
  color: green !important;
}

.success:hover {
  background-color: #4CAF50 !important;
  color: white !important;
}

/* Blue */
.info {
  border-color: #2196F3 !important;
  color: dodgerblue;
}

.info:hover {
  background: #2196F3 !important;
  color: white;
}

/* Orange */
.warning {
  border-color: #ff9800 !important;
  color: orange;
}

.warning:hover {
  background: #ff9800 !important;
  color: white;
}

/* Red */
.danger {
  border-color: #f44336 !important;
  color: red;
}

.danger:hover {
  background: #f44336 !important;
  color: white;
}

.listName {
  font-size: 30px;
  margin-right: 20px;
  vertical-align: middle;
}

.listGroupBox {
  padding: 20px;
  cursor: pointer;
}

.listGroupBox:hover {
  background-color: #a683e3;
  color: white;
}

div .active {
  background-color: #a683e3;
  color: white;
}
.dataTables_wrapper{
  margin-left: 195px;
}
#bugs thead,
#bugs th {text-align: left;}
.passedrow{
  background-color:red !important;
  color:white !important;
}